body {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
  background: rgb(0,36,26);
  background: linear-gradient(90deg, rgba(0,36,26,1) 0%, rgba(164,17,110,0.8953956582633054) 0%, rgba(0,212,255,1) 100%);
}


#jeopardy {
  text-align: center;
  font-size: 9pt;
  background-color: #060ce9;
  color: white;
  border-collapse: collapse;
}

#jeopardy th, #jeopardy td {
  border: solid 3px white;
  width: 12em;
  padding: 1em;
}

th {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  height: 4em;
  text-shadow: darkgoldenrod 1px 1px;
}

td {
  height: 8em;
  font-family: Copse, serif;
}

td:hover {
  cursor: pointer;
}

thead {
  background: rgb(0,36,26);
  background: linear-gradient(90deg, rgba(0,36,26,1) 0%, rgba(164,17,110,0.8953956582633054) 0%, rgba(0,212,255,1) 100%);
  height: 5px;
}

#button {
  padding-left: 475px;
  padding-top: 18px;
}
